<!DOCTYPE html>

<html>
  <head>
    <!-- Basic Conf/Desc -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">	
    <title>TROX 360</title>	
    <meta name="keywords" content="trox360"/>
    <meta name="description" content="Evento">
    <meta name="author" content="Sebastian Muñoz">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" />
    <link rel="apple-touch-icon" href="#">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- CSS-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="lib/animate_css/animate.min.css">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    
    <!-- CSS Icons-->
    <link rel="stylesheet" href="lib/bootstrap/css_icons/bootstrap-icons.css">

    <!-- JS -->
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-J9GFGNEZRP"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'G-J9GFGNEZRP');
        </script>
    
  </head>

  <body style="padding-top: 3.5rem;" class="bg-light">
      <!-- Modal -->
    </div>



    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light p-0">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="/lobby" style="float:left;"><img src="img/logo_trox360.png" width="150px"/></a>            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pt-2 pb-2" id="navbarCollapse">
              <div id="#nav-collapse-menu-items" class="text-end" style="display: inline-block; width:100%;">
                <ul class="navbar-nav mb-2 mb-md-0">
                  <li class="nav-item">
                    <a id="nav" class="nav-link text-dark" href="/lobby">Lobby</a>
                  </li>
                  <li class="nav-item">
                    <a id="nav" class="nav-link" href="/auditorio">Auditorio</a>
                  </li>
                  <li class="nav-item">
                    <a id="nav" class="nav-link" href="https://www.trox360.com/agenda/" target="_blank">Agenda</a>
                  </li>
                </ul>
                  <a id="btn-nav" class="" href="/pdf/TROX_360_TUTORIAL.pdf" target="_blank">Tutorial</a>
              </div>
            </div>
        </div>
    </nav>
        
    <main>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12 text-center mt-4 mb-2">
            <a id="btn-volver" class="" href="/lobby" style="width:300px; display:inline-block;">Lobby</a>
          </div>
        </div>
      </div>
      
      <table style="width:100%; min-height: 400px;"><tbody><tr class="align-middle"><td>

        <div style="position:relative;" id="div-stands">
          <div id="rotate-device" class="text-center" style="background-color: white; display: none; position: absolute; z-index: 9999; top: 0; left: 0; height:100%">
            <h2>Favor posicionar horizontalmente su smartphone para visualizar correctamente el stand</h2><br><br>
            <img src="img/rotatedevice.gif" width="50%" height="auto"/>
          </div>
          <!--MODALs VIDEOS-->
          <div class="modal fade" id="modal-video" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content" style="background-color: unset;">
                <!--<video
                  id="my-video"
                  class="video-js"
                  controls
                  preload="auto"
                  height="400"
                  data-setup="{}" style="width:100% !important"
                >
                  <source src="video/v-1.mp4" type="video/mp4" />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank"
                      >supports HTML5 video</a
                    >
                  </p>
                </video>-->
                <iframe width="100%" height="400" allowfullscreen src="https://www.youtube-nocookie.com/embed/2ReKznXgJ-o" title="YouTube video player"></iframe>
                
                  <a href="javascript:void(0)" data-bs-dismiss="modal" style="margin-top: 10px; padding: 15px; width:100%; border-radius: 10px; background-color: white; color:#00375F; border:solid 3px #00375F; font-weight: bold; font-size: 20px; text-align: center; text-decoration: none;">Cerrar</a>
              </div>
            </div>
          </div>
          
          <!--FIN MODALs VIDEOS-->

          <!--MODALs PDFs-->
          <div class="modal fade" id="modal-pdf-1" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content" style="background-color: unset;">
                <iframe width="100%" height="400" src="catalogos/CATALOGO-EXPO-ICYSHOT.pdf" title="YouTube video player"></iframe>
                  <a href="javascript:void(0)" data-bs-dismiss="modal" style="margin-top: 10px; padding: 15px; width:100%; border-radius: 10px; 
                  background-color: white; color:#95bdac; border:solid 3px #95bdac; font-weight: bold; font-size: 20px; 
                  text-align: center;">Cerrar</a>
              </div>
            </div>
          </div>
          
          <!--FIN MODALs PDFs-->

          <div id="div-img-stand" style="position: relative;">
            <img src="img/false-stand-desktop.png" width="100%" height="auto">
            <div id="s-1" class="O-Stand animate__animated" style="width:100%; height:auto; overflow: hidden; display: flex; align-items: center; 
                    justify-content: center; border-radius: 0 !important; position: absolute; top:0px; left:0px; background-image: url('img/s-brasil.PNG'); 
                    background-size: cover; perspective: 1520px;">
              <img src="img/false-stand-desktop.png" width="100%" height="auto">
              <!--LINK 1-->
              <a target="_blank" class="stand-link" href="https://swaperbr.whereby.com/trox-br" style="border-radius:50%; display: inline-block; position:absolute; 
                     text-align:center; top:23.5%; left:31%; width:6.3%; height:10%; transform-style: preserve-3d; transform: rotateY(40deg);">
              </a>
              <!--LINK 2-->
              <a target="_blank" class="stand-link" href="mailto:trox@troxbrasil.com.br" style="border-radius:50%; display: inline-block; position:absolute; 
                     text-align:center; top:34.6%; left:30.9%; width:6.3%; height:10%; transform-style: preserve-3d; transform: rotateY(40deg);">
              </a>
              <!--LINK 3-->
              <a target="_blank" class="stand-link" href="https://www.troxbrasil.com.br/downloads/de7fdec9d8cc366e/Linha-de-Produto_site.pdf?type=brochure " style="border-radius:50%; display: inline-block; position:absolute; 
                     text-align:center; top:45.7%; left:30.7%; width:6.3%; height:10%; transform-style: preserve-3d; transform: rotateY(40deg);">
              </a>
              <!--LINK 4-->
              <a target="_blank" class="stand-link" href="https://www.trox-latinamerica.com/downloads/c6db4411efb4d188/Folder-Linea-de-Productos.pdf?type=product_info " style="border-radius:50%; display: inline-block; position:absolute; 
                     text-align:center; top:57.3%; left:30.6%; width:6.3%; height:10%; transform-style: preserve-3d; transform: rotateY(40deg);">
              </a>
              <!--5-->
              <a target="_blank" class="stand-link-3" href="https://gatesete.com/trox/" style="color: #00375f4f; position: absolute; top: 35.15%; left:14%; width:8.9%; height:19.5%; background-color: rgba(255, 255, 255, 0); 
                        transform-style: preserve-3d;transform: rotateY(0deg) rotateX(9deg); display: inline-block; text-align: center !important; border-bottom-right-radius: 15px;">
                <table style="width: 100%; height: 100%;"><tbody><tr><td class="align-top" style="padding-top: 5%">
                  <i class="bi bi-cursor-fill" style="width:100%; line-height: 0px !important; font-size: 3vw; display: inline-block; position: relative; text-align: right;"></i>
                </td></tr></tbody></table>
              </a>
              <!--6-->
              <a target="_blank" class="stand-link-3" href="https://www.troxbrasil.com.br/downloads/1711916e2b18aaac/Folder-Smart-X-Mini-Chiller-Scroll---Web.pdf?type=brochure " style="color: #00375f4f; position: absolute; top: 23.2%; left:44%; width:14%; height:38%; background-color: rgba(255, 255, 255, 0); 
                      -webkit-transform: skew(-25deg);
                      -moz-transform: skew(-25deg);
                      -ms-transform: skew(-25deg);
                      -o-transform: skew(-25deg);
                      transform: skew(-25deg); display: inline-block; text-align: center !important; border-bottom-right-radius: 15px;">
                <table style="width: 100%; height: 100%;"><tbody><tr><td class="align-top">
                  <i class="bi bi-cursor-fill" style="width:100%; line-height: 0px !important; font-size: 3.5vw; display: inline-block; position: relative; text-align: right;"></i>
                </td></tr></tbody></table>
              </a>
              <!--7-->
              <a class="stand-link-3" href="#modal-video" data-bs-toggle="modal" style="color: #00375f4f; position: absolute; top: 30%; left:61%; width:23%; height:28%; background-color: rgba(255, 255, 255, 0); 
                      transform: rotateX(13deg) rotateY(-40deg) skew(-15deg); transform-style: preserve-3d; display: inline-block; text-align: center !important; border-bottom-right-radius: 15px;">
                <table style="width: 100%; height: 100%;"><tbody><tr><td class="align-top" style="padding-top: 5%; padding-right: 5%;">
                  <i class="bi bi-play-btn-fill" style="width:100%; line-height: 0px !important; font-size: 3.5vw; display: inline-block; position: relative; text-align: right;"></i>
                </td></tr></tbody></table>
              </a>
              <!--8-->
              <a target="_blank" class="stand-link-2" href="https://www.troxbrasil.com.br" style="color: #ffffff86; position: absolute; top: 70%; left:67.5%; width:12.5%; height:22%; background-color: rgba(255, 255, 255, 0); 
                        transform-style: preserve-3d;transform: rotateY(0deg) rotateX(9deg); display: inline-block; text-align: center !important; border-bottom-right-radius: 15px;">
                <table style="width: 100%; height: 100%;"><tbody><tr><td class="align-top" style="padding-top:5%">
                  <i class="bi bi-cursor-fill" style="width:100%; line-height: 0px !important; font-size: 3vw; display: inline-block; position: relative; text-align: left;"></i>
                </td></tr></tbody></table>
              </a>
            </div>
            
            <a href="javascript:void(0)" class="btn-control-stand text-center" id="btn-fullscreen" style="background-color: #00375F; color: white; position: fixed; bottom: 1%; right: 50%; margin-right: -75px; width:150px; z-index: 1000; font-size: 54px; line-height: 0; padding: 3px 30px; border-radius: 15px;"><i class="bi bi-fullscreen"></i></a>
            <a href="javascript:void(0)" class="btn-control-stand text-center" id="btn-exit-fullscreen" style="display: none; background-color: #00375F; color: white; position: fixed; bottom: 1%; right: 50%; margin-right: -75px; width:150px; z-index: 1000; font-size: 54px; line-height: 0; padding: 3px 30px; border-radius: 15px;"><i class="bi bi-fullscreen"></i></a>
          </div>
        </div>
      </td></tr></tbody></table>
    </main>



    <footer style="position:relative; height:70px;" class="footer bg-light py-3">
  </footer>
  
    <!--VIDEO JS-->
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

    <script>
      var div_stands = document.getElementById("div-stands");



      $(function(){

        $("#btn-fullscreen").click(function(){
          if (div_stands.requestFullscreen) {
            div_stands.requestFullscreen();
          } else if (div_stands.webkitRequestFullscreen) { /* Safari */
            div_stands.webkitRequestFullscreen();
          } else if (div_stands.msRequestFullscreen) { /* IE11 */
            div_stands.msRequestFullscreen();
          }
        });

        $("#btn-exit-fullscreen").click(function(){
          if(document.exitFullscreen || div_stands.exitFullscreen) {
            document.exitFullscreen();
            div_stands.exitFullscreen();
          } else if(document.mozCancelFullScreen || div_stands.mozCancelFullScreen) {
            document.mozCancelFullScreen();
            div_stands.mozCancelFullScreen();
          } else if(document.webkitExitFullscreen || div_stands.webkitExitFullscreen) {
            document.webkitExitFullscreen();
            div_stands.webkitExitFullscreen();
          }
        });
      });
    </script>
  </body>
</html>