
.container {
  width: auto;
  padding: 0 15px;
}

.animateHidden {
  visibility: hidden;
}

#stand1:before {
    content:'';
    position: absolute;
          top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.stand-link:hover {
  background-color: #00375fc2 !important;
}

.stand-link-2:hover {
  color: #ffffff !important;
  background-image: radial-gradient(rgba(255, 255, 255, 0.329) 20%, rgba(255, 255, 255, 0) 80%);
}

.stand-link-3:hover {
  color: #00375F !important;
  background-image: radial-gradient(rgba(255, 255, 255, 0.329) 20%, rgba(255, 255, 255, 0) 80%);
}

#stand-link:hover {
  color: #95bdac !important;
  border-color:#95bdac !important;
}

#stand1 {
	background-image: url("../img/stand-10.jpg");
	padding: 400px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#stand2 {
	background-image: url("../img/stand_premium.jpg");
	padding: 400px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

a#nav{
  color: #00375F !important;
}

a#nav:hover{
  font-weight: bold !important;
  color: #FF8000 !important;
}

a#btn-nav{
  background-color: #00375F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  text-decoration: none;
}

a#btn-nav:hover{
  background-color: #FF8000;
}

a#btn-volver{
  background-color: #00375F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

a#btn-volver:hover{
  background-color: #FF8000;
}

span#texto-slidedown{
  color: #00375F;
  border: none;
  padding: 15px 25px;
  font-weight: bold;
  font-size: 15px;
}

a#link-slidedown{
  color: #00375F;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

a#link-slidedown:hover{
  color: #FF8000;
}

a#link-video-auditorio:hover{
  color: #00375F !important;
  background-color: #00375f7c !important;
}

@media only screen and (max-width: 766px) {


  #nav-collapse-menu-items {
    text-align : center !important;
  }

  nav .navbar-nav{
    width:100%;
  }

  .btn-control-stand{
    bottom: 15% !important;
  }

  #iframe-vimeo{
    top: 5% !important;
    left: 5% !important;
    width: 90% !important;
    height: 90% !important;
  }

  @media all and (orientation:landscape) {
    .btn-control-stand{
      bottom: 1% !important;
    }
    body{
      padding-top: 3.5rem !important;
    }
  }
}

@media only screen and (min-width: 768px) {

  nav .navbar-nav{
    display: inline-flex;
  }

}


@media all and (display-mode: fullscreen) {
  #btn-fullscreen{
    display: none !important;
  }

  #btn-exit-fullscreen{
    display: block !important;
  }

  @media all and (orientation: portrait) {
    #rotate-device{
      display: block !important;
    }
  }
}